﻿@model IEnumerable<AcademicSpyware.Models.View_BuildingWing>
@{
    ViewBag.Title = "Index";
}

<h2>Computers</h2>

<div class="row-fluid">
    <div class="span3">
          @Html.Partial("_BuildingSideBar", Model)
    </div>


    <div class="span9">
        <div class="well">
            
        </div>
    </div>

</div>
