﻿@model AcademicSpyware.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}


@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    

    <fieldset>
        <legend>Log in Form</legend>
        <p><i>Use this form to enter your user name and password.</i></p>
        @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.", new {@class="alert alert-error" })

                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)

                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
        <br />
        <input class="btn btn-primary" type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
*@