﻿<div class="masthead">





    <div id="navBar">
        
    <ul class="nav nav-pills pull-right">
        
        <br /><br />
        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">@Html.ActionLink("About","About","Home")</li>
        <li class="active">@Html.ActionLink("Computers","Index","Computer")</li>
            @Html.Partial("_LoginPartial")
    </ul>

        </div>


    <h3 class="muted">
         <a href="/"><img src="~/Images/global/logo_small.png" /></a>
        
    </h3>
    <hr style="width:50%" />

</div>


