﻿
@if (Request.IsAuthenticated) {
   
    <li class="active">@Html.ActionLink("Admin", "Index", "Admin")</li>
    <li class="active">@Html.ActionLink("Log off", "LogOff", "Account")</li>
    
     
    <p>
        
        Welcome, @User.Identity.Name
        
    </p>
    
} else 
{
   <li class="active">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>       
}