﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h2 class="alert">I'm sorry, Dave, I'm afraid I can't do that.</h2>
</hgroup>

<p class="alert-error">An error occurred while processing your request. This can only be attributable to human error.</p>

<br />
<br />
<br />
<br />
<br />
<br />
 