﻿body {
    padding-bottom: 40px;
    background-color: #660033;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 900px;
    background-color: #fff;
    padding: 20px;
    padding-top: 5px;
    color: #333333;
    margin-top: 10px;
    border-radius: 35px;
    border: 3px solid;
    font-family: Verdana, Times, serif;
}

.container-narrow > hr {
    margin: 30px 0;
}
    
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  
    /* 990033 ff9933 660033*/
    border: 2px solid #660033;
    font-weight:bolder;
    
  background-color:#990033;
      text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.asQuote 
{
    padding:5px;
    border-radius: 20px;
    border: 3px solid;
    width: 95%;
    text-align: center;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
}

    .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
    }

    .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
    }

/* Supporting marketing content */
.marketing {
}

    .marketing p + h4 {
        margin-top: 28px;
    }
