﻿@model AcademicSpyware.Models.Computer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Computer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Building)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Building)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Room)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Room)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isEnabled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isEnabled)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
