﻿@model AcademicSpyware.Models.Computer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Computer</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Building)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Building)
            @Html.ValidationMessageFor(model => model.Building)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Room)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Room)
            @Html.ValidationMessageFor(model => model.Room)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        
        <div class="editor-field">
             <label class="checkbox">
                 @Html.EditorFor(model => model.isEnabled, new {@class="checkbox" }) IsEnabled
            </label>
           
            @Html.ValidationMessageFor(model => model.isEnabled)
        </div>

        <p>
            <input type="submit" value="Save" class="btn btn-inverse" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

